<% layout("layout/boilerplate") %>


    <div class="container">
        <!-- イベント情報 -->
        <div class="card shadow-sm h-100 mb-4">
            <div class="card-body">
                <h1>
                    <%= event.title %>
                </h1>
                <h2>候補日期間: <%= event.startDate.toLocaleDateString() %>〜<%= event.endDate.toLocaleDateString() %>
                </h2>
            </div>
            <div class="card-body">
                <h3>招待コード</h3>
                <p>このコードを使って、イベントに参加できます</p>
                    <code><%= event.eventCode %></code>
            </div>
            <div class="card-body">
                <h2>参加者一覧 (<%= event.members.length %>人)</h2>
                <ul>
                    <% event.members.forEach(member=> { %>
                        <li>
                            <%= member.name.username %>
                        </li>
                        <% }) %>
                </ul>
                <%# もし参加者がいない場合 %>
                    <% if (event.members.length===0) { %>
                        <p>まだ参加者はいません。</p>
                        <% } %>
            </div>
        </div>

        <!-- 可能日設定ボタン -->
        <div class="management-actions">
            <a href="/events/<%= event._id %>/selectDate" class="btn btn-primary">可能日の設定をする</a>
        </div>

        <!-- 候補日分析結果 -->
        <div class="results-container">
            <h2>候補日</h2>
            <!-- 全員可能な候補日 -->
            <div class="match-section">
                <h3>🎉全員OK!</h3>
                <ul>
                    <% for(let day of perfectMatchDays) { %>
                        <li>
                            <%= day.toLocaleDateString('ja-JP', { month: 'long' , day: 'numeric' , weekday: 'short' })
                                %>
                        </li>
                        <% } %>
                </ul>
            </div>
            <!-- あと一人の候補日 -->
            <div class="match-section">
                <h3>🤔あと一人!</h3>
                <ul class="semi-match-card">
                    <% for(let day of semiMatchDays) { %>
                        <li>
                            <%= day.toLocaleDateString('ja-JP', { month: 'long' , day: 'numeric' , weekday: 'short' })%>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>

        <!-- 削除フォームと戻るボタン -->
        <div class="bottom-actions">
            <form action="/events/<%= event._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">イベントを削除する</button>
            </form>
            <a href="/events" class="btn btn-secondary">戻る</a>
        </div>



    </div>